/*
Comments in CSS are like this!
*/

p {
	color: orange;
	font-size: 100;
}

/*
Selector {
	property: value;
}

So the selector could classify as many things. For example, if you want to select 
the <p> element, it would be p. Then you'd want to access one of the properties it
has, such as color, font-size, font-weight, etc, and you can overwrite those values
and you'd see the chance in <p>.

Font is a pretty big one:
To change font you have to do

p {
	font-family: Georgia, 'Times New Roman';
}

*/